## Education Dataset

In [46]:
import pandas as pd

education_df = pd.read_csv("../data/raw_data/Education2023.csv")

# Clean the column titles
education_df.columns = [
    col.strip()
    .lower()
    .replace(" ", "_")
    .replace(",", "")
    .replace('"', "")
    .replace("(", "")
    .replace(")", "")
    for col in education_df.columns
]

# Replace spaces with underscores and keep lowercase for 'area_name'
education_df["area_name"] = education_df["area_name"].str.replace(" ", "_")

for col in education_df.columns:
    if education_df[col].dtype == "object":
        education_df[col] = education_df[col].str.replace(",", "")

for col in education_df.columns:
    try:
        education_df[col] = pd.to_numeric(education_df[col], errors="ignore")
    except ValueError:
        continue  # This column contains non-numeric data, skip it


education_df.to_csv("../data/clean_data/education.csv", index=False)
education_df.head()

C:\Users\court\AppData\Local\Temp\ipykernel_45476\3480385410.py:26: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  education_df[col] = pd.to_numeric(education_df[col], errors="ignore")

,fips_code,state,area_name,2013_urban_influence_code,2024_urban_influence_code,2013_rural-urban_continuum_code,2023_rural-urban_continuum_code,less_than_a_high_school_diploma_1970,high_school_diploma_only_1970,some_college_1-3_years_1970,...,percent_of_adults_completing_some_college_or_associate_degree_2008-12,percent_of_adults_with_a_bachelor's_degree_or_higher_2008-12,less_than_high_school_graduate_2019-23,high_school_graduate_or_equivalency_2019-23,some_college_or_associate_degree_2019-23,bachelor's_degree_or_higher_2019-23,percent_of_adults_who_are_not_high_school_graduates_2019-23,percent_of_adults_who_are_high_school_graduates_or_equivalent_2019-23,percent_of_adults_completing_some_college_or_associate_degree_2019-23,percent_of_adults_with_a_bachelor's_degree_or_higher_2019-23
0,0,US,United_States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,29.0,28.5,24230217.0,59836489.0,64413653.0,79954302.0,10.6,26.2,28.2,35.0
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,29.0,22.3,409381.0,1046374.0,1035466.0,957081.0,11.9,30.3,30.0,27.8
2,1001,AL,Autauga_County,2.0,4.0,2.0,2.0,6611.0,3757.0,933.0,...,29.6,21.7,3963.0,13321.0,11953.0,11530.0,9.7,32.7,29.3,28.3
3,1003,AL,Baldwin_County,2.0,4.0,3.0,3.0,18726.0,8426.0,2334.0,...,31.8,27.7,14221.0,47369.0,53990.0,56408.0,8.3,27.5,31.4,32.8
4,1005,AL,Barbour_County,6.0,5.0,6.0,6.0,8120.0,2242.0,581.0,...,25.8,14.5,3911.0,6629.0,5067.0,2021.0,22.2,37.6,28.7,11.5

## Poverty Dataset

In [47]:
poverty_df = pd.read_csv("../data/raw_data/Poverty2023.csv")

poverty_df.columns = [
    col.strip()
    .lower()
    .replace(" ", "_")
    .replace(",", "")
    .replace('"', "")
    .replace("(", "")
    .replace(")", "")
    for col in poverty_df.columns
]


poverty_df["area_name"] = poverty_df["area_name"].str.replace(" ", "_")

for col in poverty_df.columns:
    if poverty_df[col].dtype == "object":
        poverty_df[col] = poverty_df[col].str.replace(",", "")

for col in poverty_df.columns:
    try:
        poverty_df[col] = pd.to_numeric(poverty_df[col], errors="ignore")
    except ValueError:
        continue


poverty_df.to_csv("../data/clean_data/poverty.csv", index=False)
poverty_df.head()

C:\Users\court\AppData\Local\Temp\ipykernel_45476\684472560.py:23: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  poverty_df[col] = pd.to_numeric(poverty_df[col], errors="ignore")

,fips_code,state,area_name,rural_urban_continuum_code_2013,urban_influence_code_2013,rural_urban_continuum_code_2023,urban_influence_code_2024,povall_2023,ci90lball_2023,ci90uball_2023,...,ci90ub517p_2023,medhhinc_2023,ci90lbinc_2023,ci90ubinc_2023,pov04_2023,ci90lb04_2023,ci90ub04_2023,pctpov04_2023,ci90lb04p_2023,ci90ub04p_2023
0,0,US,United_States,NaN,NaN,NaN,NaN,40763043.0,40485829.0,41040257.0,...,15.5,77719.0,77533.0,77905.0,3027969.0,2977590.0,3078348.0,16.8,16.5,17.1
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,780043.0,762230.0,797856.0,...,21.2,62248.0,61546.0,62950.0,66457.0,61943.0,70971.0,23.2,21.6,24.8
2,1001,AL,Autauga_County,2.0,2.0,2.0,4.0,7004.0,5599.0,8409.0,...,21.2,68857.0,62667.0,75047.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin_County,3.0,2.0,3.0,4.0,24942.0,20972.0,28912.0,...,16.1,74248.0,69046.0,79450.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour_County,6.0,6.0,6.0,5.0,5585.0,4266.0,6904.0,...,44.4,45298.0,40531.0,50065.0,NaN,NaN,NaN,NaN,NaN,NaN

## Unemployment Dataset

In [48]:
unemployment_df = pd.read_csv("../data/raw_data/Unemployment2023.csv")

unemployment_df.columns = [
    col.strip()
    .lower()
    .replace(" ", "_")
    .replace(",", "")
    .replace('"', "")
    .replace("(", "")
    .replace(")", "")
    for col in unemployment_df.columns
]

unemployment_df["area_name"] = unemployment_df["area_name"].str.replace(
    r",\s*[A-Z]{2}$", "", regex=True
)
unemployment_df["area_name"] = unemployment_df["area_name"].str.replace(" ", "_")

for col in unemployment_df.columns:
    if unemployment_df[col].dtype == "object":
        unemployment_df[col] = unemployment_df[col].str.replace(",", "")

for col in unemployment_df.columns:
    try:
        unemployment_df[col] = pd.to_numeric(unemployment_df[col], errors="ignore")
    except ValueError:
        continue


unemployment_df.to_csv("../data/clean_data/unemployment.csv", index=False)
unemployment_df.head()

C:\Users\court\AppData\Local\Temp\ipykernel_45476\190114105.py:25: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  unemployment_df[col] = pd.to_numeric(unemployment_df[col], errors="ignore")

,fips_code,state,area_name,rural_urban_continuum_code_2023,urban_influence_code_2013,metro_2023,civilian_labor_force_2000,employed_2000,unemployed_2000,unemployment_rate_2000,...,civilian_labor_force_2022,employed_2022,unemployed_2022,unemployment_rate_2022,civilian_labor_force_2023,employed_2023,unemployed_2023,unemployment_rate_2023,median_household_income_2022,med_hh_income_percent_of_state_total_2022
0,0,US,United_States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,4.0,...,164341251.0,158342285.0,5998966.0,3.7,166689556.0,160623678.0,6065878.0,3.6,74755.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.6,...,2276362.0,2218627.0,57735.0,2.5,2308131.0,2250472.0,57659.0,2.5,59703.0,100.0
2,1001,AL,Autauga_County,2.0,2.0,1.0,21861.0,20971.0,890.0,4.1,...,26656.0,26065.0,591.0,2.2,27000.0,26409.0,591.0,2.2,70148.0,117.5
3,1003,AL,Baldwin_County,3.0,2.0,1.0,69979.0,67370.0,2609.0,3.7,...,102280.0,99930.0,2350.0,2.3,104409.0,102029.0,2380.0,2.3,71704.0,120.1
4,1005,AL,Barbour_County,6.0,6.0,0.0,11449.0,10812.0,637.0,5.6,...,8139.0,7813.0,326.0,4.0,7944.0,7592.0,352.0,4.4,41151.0,68.9

In [49]:
population_df = pd.read_csv("../data/raw_data/PopulationEstimates.csv")

population_df.columns = [
    col.strip()
    .lower()
    .replace(" ", "_")
    .replace(",", "")
    .replace('"', "")
    .replace("(", "")
    .replace(")", "")
    for col in population_df.columns
]

population_df["area_name"] = population_df["area_name"].str.replace(" ", "_")

for col in population_df.columns:
    if population_df[col].dtype == "object":
        population_df[col] = population_df[col].str.replace(",", "")

for col in population_df.columns:
    try:
        population_df[col] = pd.to_numeric(population_df[col], errors="ignore")
    except ValueError:
        continue


population_df.to_csv("../data/clean_data/population.csv", index=False)
population_df.head()

C:\Users\court\AppData\Local\Temp\ipykernel_45476\1728502546.py:22: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  population_df[col] = pd.to_numeric(population_df[col], errors="ignore")

,fipstxt,state,area_name,rural_urban_continuum_code_2013,rural_urban_continuum_code_2023,urban_influence_2013,economic_typology_2015,census_2020_pop,estimates_base_2020,pop_estimate_2020,...,r_natural_chg_2023,r_international_mig_2021,r_international_mig_2022,r_international_mig_2023,r_domestic_mig_2021,r_domestic_mig_2022,r_domestic_mig_2023,r_net_mig_2021,r_net_mig_2022,r_net_mig_2023
0,0,US,United_States,NaN,NaN,NaN,NaN,331449281.0,331464948.0,331526933.0,...,1.5,1.1,3.0,3.4,0.0,0.0,0.0,1.1,3.0,3.4
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,5024279.0,5024294.0,5031864.0,...,-0.3,0.4,0.9,1.1,5.5,5.6,6.0,5.9,6.5,7.1
2,1001,AL,Autauga_County,2.0,2.0,2.0,0.0,58805.0,58809.0,58915.0,...,1.5,0.3,0.4,0.6,4.1,8.5,8.2,4.4,8.9,8.7
3,1003,AL,Baldwin_County,3.0,3.0,2.0,5.0,231767.0,231768.0,233227.0,...,-0.4,0.4,1.0,1.2,29.5,29.0,27.2,29.9,30.0,28.4
4,1005,AL,Barbour_County,6.0,6.0,6.0,3.0,25223.0,25229.0,24969.0,...,-3.4,0.0,0.1,0.5,-12.6,9.6,-1.8,-12.6,9.7,-1.3